    body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
    }

    header {
        background-color: #2c3e50;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }

    nav a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    section {
        background-color: #fff;
        margin: 20px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    h2 {
        color: #2c3e50;
    }

    form {
        max-width: 400px;
        margin: 20px auto;
        background-color: #ecf0f1;
        padding: 20px;
        border-radius: 8px;
    }

    input, button {
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    button {
        background-color: #3498db;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #2980b9;
    }

    footer {
        text-align: center;
        padding: 10px;
        background-color: #2c3e50;
        color: #fff;
    }
