/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #3498db;
}

h3 {
    color: #2c3e50;
}

/* Estilos específicos de la página principal */
#informacion-breve,
#estadisticas,
#testimonios,
#noticias,
#enlaces-rapidos {
    margin-bottom: 30px;
}

#imagenes img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#testimonios blockquote {
    border-left: 5px solid #3498db;
    padding-left: 15px;
    margin: 0;
    font-style: italic;
}

#testimonios footer {
    margin-top: 10px;
    color: #555;
}

#noticias ul {
    list-style-type: none;
    padding: 0;
}

#noticias li {
    margin-bottom: 15px;
}

#noticias a {
    color: #3498db;
    text-decoration: none;
}

#enlaces-rapidos ul {
    list-style-type: none;
    padding: 0;
}

#enlaces-rapidos li {
    margin-bottom: 15px;
}

#enlaces-rapidos a {
    color: #3498db;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    border-radius: 10px;
}

/* Añadido para el botón de Cerrar Sesión */
#cerrar-sesion {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
#imagenes img {
    max-width: 80%; /* Ajusta el porcentaje según sea necesario */
    max-height: 700px; /* Esto asegura que la imagen mantenga su relación de aspecto */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
